$karla: "Karla", sans-serif;
$f16: 16 px;
$f13: 13 px;
$beige: #f6f0e2;
$olive: #65684d;
$pink: #d8beaf;
$blue: #62767d;
$gray: #626665;

* {
  margin: 0px;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template: auto/ 300px 1fr 1fr 1fr 1fr;
  // grid-template: auto/ repeat(5, 1fr);
  grid-template-rows: [row1-start] 215px [row1-end] auto [third-line] 35px [last-line];
  grid-template-areas:
    "header header header header header"
    "filters display display display display"
    "footer footer footer footer footer";
}

#header {
  grid-area: header;
  background-color: #f6f0e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  filter: drop-shadow(0 0 0.5rem $gray);

  img {
    width: 400px;
    padding: 20px 0 20px 0;
  }
  p {
    color: $olive;
    text-align: center;
    font-size: 16px;
    font-family: $karla;
    font-weight: 300;
  }
}

#filters {
  grid-area: filters;
  background-color: $pink;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  font-family: $karla;

  p {
    margin: 10px 0 30px 20px;
    font-weight: 400;
    width: 85%;
  }

  label {
    font-size: 12px;
    margin: 10px 0 5px 20px;
  }

  .inputs {
    margin: 0 0 20px 20px;
    padding: 10px;
    border: none;
    width: 85%;
    font-family: $karla;
  }

  .buttons {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

button {
  background-color: $blue;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  font-family: $karla;
}

button:hover {
  background-color: $olive;
  transition: background-color 0.3s, border-color 0.3s;
}

button:disabled {
  background-color: $gray;
  opacity: 50%;
}

#display {
  grid-area: display;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 421px;
  }
  .blanket {
    display: grid;
    // grid-template-rows: repeat(auto-fill, 1fr);
    width: 550px;
    height: 95%;
  }

  .row {
    height: 1.5px;
  }

}

#footer {
  grid-area: footer;
  background-color: $beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  p {
    color: $blue;
    text-align: center;
    font-family: $karla;
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Start 50 pixels above */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

.image-fade-in {
  animation: fadeInFromTop 1s;
}
